/* src/Components/ProductCard/ProductCard.module.css */

.produtoCard {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
  border: 1px solid #e2e8f0;
}

.produtoInfo {
  margin-bottom: 16px;
}

.produtoCard h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 4px;
  color: #333;
}

.produtoCard .descricao {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
}

.produtoCard .preco {
  font-size: 16px;
  font-weight: 700;
  color: #16a34a;
  margin: 12px 0;
}

.adicionarBtn {
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
  margin-top: auto; /* Empurra o botão para a parte inferior */

  /* --- AJUSTES DO BOTÃO --- */
  display: flex;
  align-items: center; /* Centraliza verticalmente o ícone e o texto */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
  gap: 8px; /* Adiciona espaçamento entre o ícone e o texto */
}

.adicionarBtn:hover {
  background-color: #15803d;
}

.iconButton {
  color: white;
  width: 16px;
  margin: 0;
}
