/* src/Components/ProductList/ProductList.module.css */

.produtosGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  width: 700px; /* largura fixa */
  padding: 24px;
  
}

.infoText {
  padding: 40px;
  text-align: center;
  color: #888;
  background-color: #f9f9f9;
  border-radius: 8px;
  
}